@model IEnumerable<TruckCheckUp.Core.Models.Driver>

@{
    ViewBag.Title = "Drivers";
}

<h2>Drivers</h2>

<p>
    @Html.ActionLink("Add New Driver", "Create")
</p>
<p>
    @Html.ActionLink("Back to Administration Page", "Index", "Administration")
</p> 
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @if (item.Status)
            {
                <span class="text-success"><b>@Html.DisplayFor(modelItem => item.MessageBasedOnStatusSelection)</b></span>
            }
            else
            {
                <span class="text-danger"><b>@Html.DisplayFor(modelItem => item.MessageBasedOnStatusSelection)</b></span>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
