@model TruckCheckUp.Core.ViewModels.InspectionReportUI.ReportDetailsViewModel

@{
    ViewBag.Title = "ReportDetails";
}

@Html.AntiForgeryToken()

<div class="form-horizontal col-md-8">
    <br />
    <div class="form-group">
        <div class="col-md-offset-1 col-md-6">
            <input type="submit" value="Print" class="btn btn-block btn-default" />
        </div>
    </div>
    
    <div class="form-group form">
        @Html.LabelFor(model => model.DriverName, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.DriverName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TruckNumber, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.TruckNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SubmissionDate, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.SubmissionDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CurrentMileage, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.CurrentMileage, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>

    <div class="panel panel-primary form-group col-md-7">
        <div class="panel-heading">
            General
        </div>
        <div class="panel-body">
            <div class="form-group col-md-8">
                @for (int i = 0; i < Model.GeneralCatalog.Count(); i++)
                {
                    <label class="d-block">
                        @Html.HiddenFor(model => model.GeneralCatalog[i].Id)
                        @Html.CheckBoxFor(model => model.GeneralCatalog[i].IsChecked, new { @class = "control label col-md-3", data_toggle = "toggle", data_size = "mini", @disabled = "disabled" })
                        @Html.DisplayFor(model => model.GeneralCatalog[i].Name)
                    </label>
                }
            </div>
        </div>
    </div>

    <div class="panel panel-primary form-group col-md-7">
        <div class="panel-heading">
            Lights
        </div>
        <div class="panel-body">
            <div class="form-group col-md-8">
                @for (int i = 0; i < Model.LightsCatalog.Count(); i++)
                {
                    <label class="d-block">
                        @Html.HiddenFor(model => model.LightsCatalog[i].Id)
                        @Html.CheckBoxFor(model => model.LightsCatalog[i].IsChecked, new { @class = "control label col-md-3", data_toggle = "toggle", data_size = "mini", @disabled = "disabled" })
                        @Html.DisplayFor(model => model.LightsCatalog[i].Name)
                    </label>
                }
            </div>
        </div>
    </div>

    <div class="panel panel-primary form-group col-md-7">
        <div class="panel-heading">
            Fluids/Oil
        </div>
        <div class="panel-body">
            <div class="form-group col-md-8">
                @for (int i = 0; i < Model.FluidsCatalog.Count(); i++)
                {
                    <label class="d-block">
                        @Html.HiddenFor(model => model.FluidsCatalog[i].Id)
                        @Html.CheckBoxFor(model => model.FluidsCatalog[i].IsChecked, new { @class = "control label col-md-3", data_toggle = "toggle", data_size = "mini", @disabled = "disabled" })
                        @Html.DisplayFor(model => model.FluidsCatalog[i].Name)
                    </label>
                }
            </div>
        </div>
    </div>

    <div class="panel panel-primary form-group col-md-7">
        <div class="panel-heading">
            Notes
        </div>
        <div class="panel-body">
            @Html.TextAreaFor(model => model.Comments, 2, 50, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List of Reports", "Index")
</div>




